@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100;1,200;1,400&display=swap');
.body{
 align-items: center;
 margin-top: 100px;
 margin-right: 70px;
 
}

.button {
	display:inline-flex;
    margin-left: 18px;
    border-radius: 15%;
    background:rgba(225,255,255,0.5); 
    margin-left: 0.5cm;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: 2px;
}
.button:hover{
	color:  #fff;
     background:  rgba(255, 255, 255, 0.2);
}